.my-app {
  font-size: 1.5rem;
  width: 20rem;
  margin: 1rem auto;
}

.my-output {
  margin: 1rem 0;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 3px;
}

.my-input {
  padding: 1rem;
}
